.items {
  display: flex;
  color: orange;
  gap: 40px;
  font-weight: bold;
      background-color: aquamarine;

}

.button {
  display: none;
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }

  .nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-painted);
    color: var(--color-text-unpainted);
    padding: 24px 16px;
  }

  .items {
    flex-direction: column;
    gap: 24px;
    /* width: 100%;
    height: 100%; */

  }

  .button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 24px;
    right: 16px;
    color: white;
    font-weight: bold;
  }

  /* ä¿º */
  .close {
    cursor: pointer;}

    .test{
      background-color: blanchedalmond;
      width: 100%;
      height: 100vh;
    }

}

