/* // menu03.module.css */

.items {
  display: flex;
  color: orange;
  gap: 40px;
  font-weight: bold;
   background-color: aquamarine;
}

.button {
   display: none;
}


/*********** スマホ ***********/

@media (max-width: 640px) {
  .nav {
    display: none;
  }

  .nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-painted);
    color: var(--color-text-unpainted);
    padding: 24px 16px;
  }

  .button {
   display: block;   
   }

   .close {
      position: absolute;
      top: 20px;
      right: 20px;
   }

   .overlay {
      width: 100%;
      height: 100%;
      background-color: yellow;
   }

}
